<form [formGroup]="productForm" class="text-left container">
    Id: <input type="number" name="" id="" class="form-control" formControlName="id">
    Name: <input type="text" name="" id="" class="form-control" formControlName="name">
    Price: <input type="text" name="" id="" class="form-control" formControlName="price"><br>
    <input type="button" value="Add" class="btn btn-success">&nbsp;
    <input type="button" value="Update" class="btn btn-warning">&nbsp;
    <input type="button" value="Delete" class="btn btn-danger">&nbsp;
    
</form>